[Unit]
Description=GidTech Window-Blackout-O-Matic 2000 (blind2) handler
After=network-online.target

[Service]
ExecStart=/root/interconnect/run_blind2.zsh
WorkingDirectory=/root/interconnect
User=root
Group=daemon
SyslogIdentifier=blind2
StandardOutput=syslog
Restart=on-failure
KillSignal=SIGINT
#Nice=10

[Install]
WantedBy=multi-user.target
