[Unit]
Description=GidTech Interconnect proxy handler
After=network-online.target

[Service]
ExecStart=/root/interconnect/run_proxy.zsh
WorkingDirectory=/root/interconnect
User=root
Group=daemon
SyslogIdentifier=interconnect_proxy
StandardOutput=syslog
Restart=on-failure
KillSignal=SIGINT
#Nice=10

[Install]
WantedBy=multi-user.target
