[Unit]
Description=GidTech ShuttleXpress client handler
After=network-online.target autofs.service

[Service]
ExecStart=/root/interconnect/run_shuttle.zsh
WorkingDirectory=/root/interconnect
User=root
Group=daemon
SyslogIdentifier=shuttle_client
StandardOutput=syslog
Restart=on-failure
KillSignal=SIGINT
#Nice=10

[Install]
WantedBy=multi-user.target
